<ul class="nav sidenav">
  <% if Apitome.configuration.readme %>
    <li>
      <% if Apitome.configuration.single_page %>
        <a href="#readme"><%= t(:readme) %></a>
      <% else %>
        <a href="<%= Apitome.configuration.mount_at %>"><%= t(:readme) %></a>
      <% end %>
    </li>
  <% end %>
  <% resources.each do |resource| %>
    <li>
      <% if Apitome.configuration.single_page %>
        <a href="#<%= id_for(resource['examples'].first['link']) %>"><%= resource['name'] %></a>
        <ul class="nav">
          <% resource['examples'].each do |example| %>
            <li><%= link_to example['description'], "##{id_for(example['link'])}" %></li>
          <% end %>
        </ul>
      <% else %>
        <li><%= link_to resource['name'], "#{Apitome.configuration.mount_at}/#{resource['examples'].first['link'].gsub(/\.json$/, '')}" %></li>
        <ul class="nav">
          <% resource['examples'].each do |example| %>
            <li><%= link_to example['description'], "#{Apitome.configuration.mount_at}/#{example['link'].gsub(/\.json$/, '')}" %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
