<!DOCTYPE html>
<html>
<head>
  <title><%= Apitome.configuration.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag Apitome.configuration.css_override || "apitome/application", media: "all" %>
  <%= stylesheet_link_tag "apitome/highlight_themes/#{Apitome.configuration.code_theme}", media: "all" %>
  <%= javascript_include_tag Apitome.configuration.js_override || "apitome/application" %>
</head>
<body class="<%= Apitome.configuration.single_page ? "single-page" : "" %>">

<div class="container">
  <%= render 'header' %>
  <div class="container docs-container">
    <div class="row">
      <div class="col-md-4">
        <div id="sidebar" class="sidebar hidden-print" role="complementary">
          <%= render 'navigation' %>
        </div>
      </div>
      <div class="col-md-8" role="main">
        <div class="docs-section">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
